<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!user/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                Collaboration Space
            </a>
            <p class="navbar-text pull-right">
                <a ng-show="model.userRole == 'Writer'"
                   href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/response" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a ng-show="model.userRole == 'Visual Artist' && model.widgets == ''"
                   href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div wbdv-sortable>
        <div ng-repeat="widget in model.widgets" class="wd-widget">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-include="model.widgetUrl(widget)"></div>
                    <div class="wd-widget-toolbar">
                        <a ng-hide="widget.usr.valueOf() !== model.userName.valueOf()"
                           href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a ng-show="model.userRole == 'Admin'"
                           href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

