<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:history.back()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                {{model.usr}}
            </a>
        </div>
    </div>
</nav>
<br>

<div class="container-fluid">

    <div wbdv-sortable>
        <div ng-repeat="widget in model.widgets" class="wd-widget">
            <div class="panel panel-default">
            <div class="panel-body">
            <div ng-include="model.widgetUrl(widget)"></div>
            </div></div>
        </div>
    </div>
</div>
<br>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

