<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.editWidget.name"
           placeholder="Name"
           class="form-control"/>
    <i><small>{{model.name}}</small></i><p></p>

    <label for="text">Text</label>
    <textarea id="text"
              ng-model="model.editWidget.text"
              rows="5"
              placeholder="Text"
              class="form-control"></textarea>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.editWidget.url"
           placeholder="URL (https://www.youtube.com/embed/______)"
           class="form-control"/>


    <label for="width">Width</label>
    <input id="width"
           ng-model="model.editWidget.width"
           placeholder="Width (Pixels)"
           class="form-control"/>


    <a ng-click="model.deleteWidget(model.editWidget._id)" class="btn btn-block btn-danger">Delete</a>

</div>
