<div class="container-fluid">
    <label for="name">Enter Name</label>
    <input id="name"
           ng-model="model.editWidget.name"
           placeholder="Name"
           class="form-control"/>
    <i><small>{{model.name}}</small></i><p></p>

    <label>Imgur Upload</label><p></p>

    <iframe src="/project/views/widget/upload/upload.html" width="400" height="400" frameBorder="0"></iframe><p></p>


    <label for="url">Enter Image URL</label>

    <input name ="url"
           id="url"
           placeholder="URL"
           ng-model="model.editWidget.url"
           class="form-control"/>

    <a class="btn btn-block btn-success" href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.editWidgetId}}/search">
        Flickr Search
    </a>


    <a ng-click="model.deleteWidget(model.editWidget._id)"
       class="btn btn-block btn-danger">Delete</a>

</div>
