<div class="container-fluid">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               ng-model="model.widget.name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text"
               class="form-control"
               id="text"
               ng-model="model.widget.text">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url"
               class="form-control"
               id="url"
               value="https://www.youtu.be/uLWLashCXHE"
               ng-model="model.widget.url">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="text"
               class="form-control"
               id="width"
               ng-model="model.widget.width">
    </div>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widgetId)">Delete</a>
</div>