<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           placeholder="Name"
           class="form-control"/>

    <label for="text">Text</label>
    <textarea ng-model="model.editWidget.text"
              id="text"
              rows="5"
              placeholder="Text"
              class="form-control"></textarea>

    <label for="size">Size</label>
    <select ng-model="model.editWidget.size"
            id="size"
            class="form-control">
        <option value="1">1 (X-Large)</option>
        <option value="2">2 (Larger)</option>
        <option value="3">3 (Large)</option>
        <option value="4">4 (Medium)</option>
        <option value="5">5 (Small)</option>
        <option value="6">6 (Smallest)</option>
    </select>

    <a ng-click="model.deleteWidget(model.editWidget._id)" class="btn btn-block btn-danger">Delete</a>

</div>
