<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.updateUser(model.user)">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <br>
    <a class="btn btn-info btn-block"
       href="#!/user/website">Groups</a>
    <br>

    <form>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   id="username"
                   placeholder="Username"
                   readonly="readonly">
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <input type="text"
                   ng-model="model.user.role"
                   class="form-control"
                   id="role"
                   placeholder="Role"
                   readonly="readonly">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email"
                   placeholder="Email@Email.com">
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   ng-model="model.user.firstName"
                   class="form-control"
                   id="first-name"
                   placeholder="First">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   ng-model="model.user.lastName"
                   class="form-control"
                   id="last-name"
                   placeholder="Last">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text"
                   ng-model="model.user.phone"
                   class="form-control"
                   id="phone"
                   placeholder="xxx-xxx-xxxx">
        </div>

    </form>

    <a class="btn btn-danger  btn-block"
       ng-click="model.logout()">Logout</a>

    <a ng-click="model.updateUser(model.user)"
       class="btn btn-block btn-success">Update</a>

    <a ng-click="model.deleteUser(model.user)"
       class="btn btn-block btn-danger">Unregister</a>
    <br>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                    </span>
            </p>
        </div>
    </div>
</nav>