<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/website/{{model.websiteId}}/page" class="navbar-brand" >
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">
                Edit Collaboration Information
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.pageId,model.page)"  class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<br>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li ng-repeat="page in model.pages"
                    class="list-group-item wd-li">
                    <a href="#!/user/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#!/user/website/{{model.websiteId}}/page/{{page._id}}">
                        <span ng-show="model.userRole == 'Admin'"  class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">

            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>

            <label for="name">Name</label>
            <input id="name"
                   placeholder="Name"
                   ng-model="model.page.name"
                   class="form-control"/>
            <i><small>{{model.name}}</small></i><p></p>

            <label for="title">Title</label>
            <input id ="title"
                   placeholder="Description"
                   ng-model="model.page.description"
                   class="form-control">

            <a ng-click="model.deletePage(model.pageId)" class="btn btn-block btn-danger">Delete</a>
        </div>
    </div>
</div>
<br>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>